extends ../layout.pug

block head
    include ../mixin/article.pug
    link(rel="stylesheet" href="/style/admin.css")

block content
    div.flex.flex-row.flex-between
        h3 Bienvenue dans l'espace d'administration
        a.button(href="/admin/write")
            i.fas.fa-plus
            | Publier un nouvel article
    p Cet espace vous permet de gérer et administrer les articles présents sur votre blog !
    table
        tr
            th #
            th
                i.fas.fa-calendar-alt
                | Date de publication
            th Titre
            th
                i.fas.fa-user
                | Auteur
            th
                i.fas.fa-tag
                | Catégorie
            th
                i.fas.fa-cogs
                | Action
        each article in articles
            + rowArticle(article)
