main{
    width: 90%;
    margin: auto;
}

.flex{
    display: flex;
}

.flex-row{
    flex-direction: row;
}

.flex-column{
    flex-direction: column;
}

.category{
    background-color: var(--category-color);
    padding: 5px;
}