main{
    width: 90%;
    margin: 40px auto;
}

.flex{
    display: flex;
}

.flex-row{
    flex-direction: row;
}

.flex-column{
    flex-direction: column;
}

.category{
    background-color: var(--category-color);
    padding: 5px;
    height: 20px;
    margin: auto 5px;
}

.italic{
    font-style: italic;
}