main{
    width: 90%;
    margin: 40px auto;
}

a{
    color: var(--main-color);
}

.flex{
    display: flex;
}

.flex-row{
    flex-direction: row;
}

.flex-column{
    flex-direction: column;
}

.flex-between{
    justify-content: space-between;
}

.flex-around{
    justify-content: space-around;
}

.category{
    background-color: var(--category-color);
    padding: 5px;
    height: var(--button-height);
    margin: auto 5px;
}

.italic{
    font-style: italic;
}

.red{
    color: red;
}

.button{
    background-color: var(--main-color);
    color: var(--main-bg-color);
    height: var(--button-height);
    padding: 5px;
    margin: auto 5px;
}