extends layout.pug

block head
    //link(rel="stylesheet" href="/style/common.css")

block content
    a(href="#")
        i.fas.fa-arrow-left
        |Retour à la liste des articles
    div.flex.flex-row
        h4 Séance de yoga
        span.category
            i.fas.fa-tag
            | Peinture
    p
        |Publié le 16/08/2017 par&nbsp;
        i Paul Verlaine
    div.italic
        p L'extrait standard de Lorem Ipsum blah blah blah
        p encore du texte balh blah blah