extends layout.pug

block head
    link(rel="stylesheet" href="/style/index.css")
    include mixin/article.pug


block content
    h3 Bienvenue sur mon blog
    span voici la liste des derniers articles du blog :
    div.articleList
        each number in [1, 2, 3]
            + article(number)